* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serf;
  background-color: rgb(46, 12, 168);
  background-image: url(./imagenes/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

nav ul li a:hover {
  color: #2aa5f1;
}

.all {
  max-width: 80%;
  margin: 0 auto;
}

.categoria {
  background-color: #091048;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.categoria-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.categoria img {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-image: linear-gradient(to top, #43b516);
}

footer {
  background-color: #171a21;
  padding: 50px 0;
  color: white;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-link h4 {
  margin-bottom: 20px;
  color: #00ceff;
}

.footer-link ul {
  list-style: none;
}

.footer-link ul li {
  margin-bottom: 10px;
}

.footer-link ul li a {
  text-decoration: none;
  color: #bbbbbb;
  transition: color 0.3s;
}

.footer-link ul li a:hover {
  color: #ffffff;
}

.social-link a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.social-link a:hover {
  background-color: #00ceff;
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-link {
    margin-bottom: 30px;
  }
}
